<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiduyang.web.dao.management.ChannelInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feiduyang.common.entity.management.ChannelInfo">
        <result column="id" property="id"/> <!--  -->
        <result column="creator_id" property="creatorId"/> <!-- 创建人 -->
        <result column="create_time" property="createTime"/> <!-- 创建时间 -->
        <result column="last_modifier_id" property="lastModifierId"/> <!-- 更新人 -->
        <result column="update_time" property="updateTime"/> <!-- 更新时间 -->
        <result column="channel_name" property="channelName"/> <!-- 渠道名称 -->
        <result column="channel_no" property="channelNo"/> <!-- 渠道编号 -->
        <result column="channe_rate" property="channeRate"/> <!-- 渠道费率（百分单位） -->
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        channel_name, channel_no, channe_rate
    </sql>
    <!-- 通用查询条件 -->
    <sql id="Find_List_Where">
        <where>
            <if test="m.id != null">
                AND id = #{m.id}  <!--  -->
            </if>
            <if test="m.creatorId != null">
                AND creator_id = #{m.creatorId}  <!-- 创建人 -->
            </if>
            <if test="m.createTime != null">
                AND create_time = #{m.createTime}  <!-- 创建时间 -->
            </if>
            <if test="m.lastModifierId != null">
                AND last_modifier_id = #{m.lastModifierId}  <!-- 更新人 -->
            </if>
            <if test="m.updateTime != null">
                AND update_time = #{m.updateTime}  <!-- 更新时间 -->
            </if>
            <if test="m.channelName != null and m.channelName != ''">
                AND channel_name = #{m.channelName}  <!-- 渠道名称 -->
            </if>
            <if test="m.channelNo != null and m.channelNo != ''">
                AND channel_no = #{m.channelNo}  <!-- 渠道编号 -->
            </if>
            <if test="m.channeRate != null">
                AND channe_rate = #{m.channeRate}  <!-- 渠道费率（百分单位） -->
            </if>
        </where>
        ORDER BY id ASC
    </sql>

    <!--增改查范本-->
    <!--
    <select id="select" resultType="ChannelInfo">
        SELECT  <include refid="Base_Column_List" />
        FROM t_channel_info
        <include refid="Find_List_Where" />
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="ChannelInfo">
        INSERT INTO t_channel_info ()
        VALUES()
    </insert>
    <update id="update" parameterType="ChannelInfo">
          UPDATE t_channel_info
          <set>
        </set>
        WHERE id = #{id}
     </update>
    -->

</mapper>
