<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiduyang.web.dao.management.NonMotorizedVehicleInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feiduyang.common.entity.management.NonMotorizedVehicleInfo">
        <result column="id" property="id"/> <!--  -->
        <result column="creator_id" property="creatorId"/> <!--  -->
        <result column="last_modifier_id" property="lastModifierId"/> <!--  -->
        <result column="create_time" property="createTime"/> <!--  -->
        <result column="update_time" property="updateTime"/> <!--  -->
        <result column="vehicle_no" property="vehicleNo"/> <!-- 车辆编号 -->
        <result column="vehicle_card_no" property="vehicleCardNo"/> <!-- 车牌号 -->
        <result column="vehicle_tag_id" property="vehicleTagId"/> <!-- 车辆绑定的标签信息 -->
        <result column="vehicle_owner_id" property="vehicleOwnerId"/> <!-- 所属车主 -->
        <result column="vehicle_tag_no" property="vehicleTagNo"/> <!-- 绑定的标签编号 -->
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        vehicle_no, vehicle_card_no, vehicle_tag_id, vehicle_owner_id, vehicle_tag_no
    </sql>
    <!-- 通用查询条件 -->
    <sql id="Find_List_Where">
        <where>
            <if test="m.id != null">
                AND id = #{m.id}  <!--  -->
            </if>
            <if test="m.creatorId != null">
                AND creator_id = #{m.creatorId}  <!--  -->
            </if>
            <if test="m.lastModifierId != null">
                AND last_modifier_id = #{m.lastModifierId}  <!--  -->
            </if>
            <if test="m.createTime != null">
                AND create_time = #{m.createTime}  <!--  -->
            </if>
            <if test="m.updateTime != null">
                AND update_time = #{m.updateTime}  <!--  -->
            </if>
            <if test="m.vehicleNo != null and m.vehicleNo != ''">
                AND vehicle_no = #{m.vehicleNo}  <!-- 车辆编号 -->
            </if>
            <if test="m.vehicleCardNo != null and m.vehicleCardNo != ''">
                AND vehicle_card_no = #{m.vehicleCardNo}  <!-- 车牌号 -->
            </if>
            <if test="m.vehicleTagId != null">
                AND vehicle_tag_id = #{m.vehicleTagId}  <!-- 车辆绑定的标签信息 -->
            </if>
            <if test="m.vehicleOwnerId != null">
                AND vehicle_owner_id = #{m.vehicleOwnerId}  <!-- 所属车主 -->
            </if>
            <if test="m.vehicleTagNo != null and m.vehicleTagNo != ''">
                AND vehicle_tag_no = #{m.vehicleTagNo}  <!-- 绑定的标签编号 -->
            </if>
        </where>
        ORDER BY id ASC
    </sql>

    <!--增改查范本-->
    <!--
    <select id="select" resultType="NonMotorizedVehicleInfo">
        SELECT  <include refid="Base_Column_List" />
        FROM t_non_motorized_vehicle_info
        <include refid="Find_List_Where" />
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="NonMotorizedVehicleInfo">
        INSERT INTO t_non_motorized_vehicle_info ()
        VALUES()
    </insert>
    <update id="update" parameterType="NonMotorizedVehicleInfo">
          UPDATE t_non_motorized_vehicle_info
          <set>
        </set>
        WHERE id = #{id}
     </update>
    -->

</mapper>
