<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiduyang.web.dao.management.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feiduyang.web.entity.management.Orders">
        <result column="id" property="id"/> <!--  -->
        <result column="creator_id" property="creatorId"/> <!--  -->
        <result column="last_modifier_id" property="lastModifierId"/> <!--  -->
        <result column="create_time" property="createTime"/> <!--  -->
        <result column="update_time" property="updateTime"/> <!--  -->
        <result column="order_no" property="orderNo"/> <!-- 订单编号 -->
        <result column="product_id" property="productId"/> <!-- 产品id -->
        <result column="product_name" property="productName"/> <!-- 产品名称 -->
        <result column="order_status" property="orderStatus"/> <!-- 订单状态 -->
        <result column="order_price" property="orderPrice"/> <!-- 订单价格 -->
        <result column="product_num" property="productNum"/> <!-- 产品数量 -->
        <result column="owner_id" property="ownerId"/> <!-- 购买用户 -->
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_no, product_id, product_name, order_status, order_price, product_num, owner_id
    </sql>
    <!-- 通用查询条件 -->
    <sql id="Find_List_Where">
        <where>
            <if test="m.id != null">
                AND id = #{m.id}  <!--  -->
            </if>
            <if test="m.creatorId != null">
                AND creator_id = #{m.creatorId}  <!--  -->
            </if>
            <if test="m.lastModifierId != null">
                AND last_modifier_id = #{m.lastModifierId}  <!--  -->
            </if>
            <if test="m.createTime != null">
                AND create_time = #{m.createTime}  <!--  -->
            </if>
            <if test="m.updateTime != null">
                AND update_time = #{m.updateTime}  <!--  -->
            </if>
            <if test="m.orderNo != null and m.orderNo != ''">
                AND order_no = #{m.orderNo}  <!-- 订单编号 -->
            </if>
            <if test="m.productId != null">
                AND product_id = #{m.productId}  <!-- 产品id -->
            </if>
            <if test="m.productName != null and m.productName != ''">
                AND product_name = #{m.productName}  <!-- 产品名称 -->
            </if>
            <if test="m.orderStatus != null">
                AND order_status = #{m.orderStatus}  <!-- 订单状态 -->
            </if>
            <if test="m.orderPrice != null">
                AND order_price = #{m.orderPrice}  <!-- 订单价格 -->
            </if>
            <if test="m.productNum != null">
                AND product_num = #{m.productNum}  <!-- 产品数量 -->
            </if>
            <if test="m.ownerId != null">
                AND owner_id = #{m.ownerId}  <!-- 购买用户 -->
            </if>
        </where>
        ORDER BY id ASC
    </sql>

    <!--增改查范本-->
    <!--
    <select id="select" resultType="Orders">
        SELECT  <include refid="Base_Column_List" />
        FROM t_orders
        <include refid="Find_List_Where" />
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Orders">
        INSERT INTO t_orders ()
        VALUES()
    </insert>
    <update id="update" parameterType="Orders">
          UPDATE t_orders
          <set>
        </set>
        WHERE id = #{id}
     </update>
    -->

</mapper>
