<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiduyang.web.dao.management.OwnerProductInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feiduyang.common.entity.management.OwnerProductInfo">
        <result column="id" property="id"/> <!--  -->
        <result column="creator_id" property="creatorId"/> <!--  -->
        <result column="last_modifier_id" property="lastModifierId"/> <!--  -->
        <result column="create_time" property="createTime"/> <!--  -->
        <result column="update_time" property="updateTime"/> <!--  -->
        <result column="point_id" property="pointId"/> <!-- 点位id -->
        <result column="product_id" property="productId"/> <!-- 产品id -->
        <result column="vehicle_id" property="vehicleId"/> <!-- 车辆id -->
        <result column="owner_id" property="ownerId"/> <!-- 车主id -->
        <result column="product_expiration_time" property="productExpirationTime"/> <!-- 产品过期时间 -->
        <result column="owner_product_status" property="ownerProductStatus"/> <!-- 状态 -->
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        point_id, product_id, vehicle_id, owner_id, product_expiration_time, owner_product_status
    </sql>
    <!-- 通用查询条件 -->
    <sql id="Find_List_Where">
        <where>
            <if test="m.id != null">
                AND id = #{m.id}  <!--  -->
            </if>
            <if test="m.creatorId != null">
                AND creator_id = #{m.creatorId}  <!--  -->
            </if>
            <if test="m.lastModifierId != null">
                AND last_modifier_id = #{m.lastModifierId}  <!--  -->
            </if>
            <if test="m.createTime != null">
                AND create_time = #{m.createTime}  <!--  -->
            </if>
            <if test="m.updateTime != null">
                AND update_time = #{m.updateTime}  <!--  -->
            </if>
            <if test="m.pointId != null">
                AND point_id = #{m.pointId}  <!-- 点位id -->
            </if>
            <if test="m.productId != null">
                AND product_id = #{m.productId}  <!-- 产品id -->
            </if>
            <if test="m.vehicleId != null">
                AND vehicle_id = #{m.vehicleId}  <!-- 车辆id -->
            </if>
            <if test="m.ownerId != null">
                AND owner_id = #{m.ownerId}  <!-- 车主id -->
            </if>
            <if test="m.productExpirationTime != null">
                AND product_expiration_time = #{m.productExpirationTime}  <!-- 产品过期时间 -->
            </if>
            <if test="m.ownerProductStatus != null">
                AND owner_product_status = #{m.ownerProductStatus}  <!-- 状态 -->
            </if>
        </where>
        ORDER BY id ASC
    </sql>

    <!--增改查范本-->
    <!--
    <select id="select" resultType="OwnerProductInfo">
        SELECT  <include refid="Base_Column_List" />
        FROM t_owner_product_info
        <include refid="Find_List_Where" />
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="OwnerProductInfo">
        INSERT INTO t_owner_product_info ()
        VALUES()
    </insert>
    <update id="update" parameterType="OwnerProductInfo">
          UPDATE t_owner_product_info
          <set>
        </set>
        WHERE id = #{id}
     </update>
    -->

</mapper>
