<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiduyang.web.dao.management.RfidTagInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feiduyang.web.entity.management.RfidTagInfo">
        <result column="id" property="id"/> <!--  -->
        <result column="create_by" property="createBy"/> <!--  -->
        <result column="update_by" property="updateBy"/> <!--  -->
        <result column="create_time" property="createTime"/> <!--  -->
        <result column="update_time" property="updateTime"/> <!--  -->
        <result column="tag_no" property="tagNo"/> <!-- 标签编号 -->
        <result column="tag_reg_point_id" property="tagRegPointId"/> <!-- 标签注册点位 -->
        <result column="tag_epc_code" property="tagEpcCode"/> <!-- 标签EPC区码 -->
        <result column="tag_tid_code" property="tagTidCode"/> <!-- 标签TID码 -->
        <result column="tag_user_code" property="tagUserCode"/> <!-- 标签用户区码 -->
        <result column="tag_reg_ip_address" property="tagRegIpAddress"/> <!-- 标签注册ip -->
        <result column="tag_status" property="tagStatus"/> <!-- 标签状态 -->
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tag_no, tag_reg_point_id, tag_epc_code, tag_tid_code, tag_user_code, tag_reg_ip_address, tag_status
    </sql>
    <!-- 通用查询条件 -->
    <sql id="Find_List_Where">
        <where>
            <if test="m.id != null">
                AND id = #{m.id}  <!--  -->
            </if>
            <if test="m.createBy != null">
                AND create_by = #{m.createBy}  <!--  -->
            </if>
            <if test="m.updateBy != null">
                AND update_by = #{m.updateBy}  <!--  -->
            </if>
            <if test="m.createTime != null">
                AND create_time = #{m.createTime}  <!--  -->
            </if>
            <if test="m.updateTime != null">
                AND update_time = #{m.updateTime}  <!--  -->
            </if>
            <if test="m.tagNo != null and m.tagNo != ''">
                AND tag_no = #{m.tagNo}  <!-- 标签编号 -->
            </if>
            <if test="m.tagRegPointId != null">
                AND tag_reg_point_id = #{m.tagRegPointId}  <!-- 标签注册点位 -->
            </if>
            <if test="m.tagEpcCode != null and m.tagEpcCode != ''">
                AND tag_epc_code = #{m.tagEpcCode}  <!-- 标签EPC区码 -->
            </if>
            <if test="m.tagTidCode != null and m.tagTidCode != ''">
                AND tag_tid_code = #{m.tagTidCode}  <!-- 标签TID码 -->
            </if>
            <if test="m.tagUserCode != null and m.tagUserCode != ''">
                AND tag_user_code = #{m.tagUserCode}  <!-- 标签用户区码 -->
            </if>
            <if test="m.tagRegIpAddress != null and m.tagRegIpAddress != ''">
                AND tag_reg_ip_address = #{m.tagRegIpAddress}  <!-- 标签注册ip -->
            </if>
            <if test="m.tagStatus != null">
                AND tag_status = #{m.tagStatus}  <!-- 标签状态 -->
            </if>
        </where>
        ORDER BY id ASC
    </sql>

    <!--增改查范本-->
    <!--
    <select id="select" resultType="RfidTagInfo">
        SELECT  <include refid="Base_Column_List" />
        FROM t_rfid_tag_info
        <include refid="Find_List_Where" />
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="RfidTagInfo">
        INSERT INTO t_rfid_tag_info ()
        VALUES()
    </insert>
    <update id="update" parameterType="RfidTagInfo">
          UPDATE t_rfid_tag_info
          <set>
        </set>
        WHERE id = #{id}
     </update>
    -->

</mapper>
