<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiduyang.web.dao.management.VehicleOwnerInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feiduyang.common.entity.management.VehicleOwnerInfo">
        <result column="id" property="id"/> <!--  -->
        <result column="creator_id" property="creatorId"/> <!--  -->
        <result column="last_modifier_id" property="lastModifierId"/> <!--  -->
        <result column="create_time" property="createTime"/> <!--  -->
        <result column="update_time" property="updateTime"/> <!--  -->
        <result column="owner_name" property="ownerName"/> <!-- 车主姓名 -->
        <result column="owner_phone" property="ownerPhone"/> <!-- 车主电话 -->
        <result column="owner_card_no" property="ownerCardNo"/> <!-- 车主证件号 -->
        <result column="owner_status" property="ownerStatus"/> <!-- 车主状态 -->
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        owner_name, owner_phone, owner_card_no, owner_status
    </sql>
    <!-- 通用查询条件 -->
    <sql id="Find_List_Where">
        <where>
            <if test="m.id != null">
                AND id = #{m.id}  <!--  -->
            </if>
            <if test="m.creatorId != null">
                AND creator_id = #{m.creatorId}  <!--  -->
            </if>
            <if test="m.lastModifierId != null">
                AND last_modifier_id = #{m.lastModifierId}  <!--  -->
            </if>
            <if test="m.createTime != null">
                AND create_time = #{m.createTime}  <!--  -->
            </if>
            <if test="m.updateTime != null">
                AND update_time = #{m.updateTime}  <!--  -->
            </if>
            <if test="m.ownerName != null and m.ownerName != ''">
                AND owner_name = #{m.ownerName}  <!-- 车主姓名 -->
            </if>
            <if test="m.ownerPhone != null and m.ownerPhone != ''">
                AND owner_phone = #{m.ownerPhone}  <!-- 车主电话 -->
            </if>
            <if test="m.ownerCardNo != null and m.ownerCardNo != ''">
                AND owner_card_no = #{m.ownerCardNo}  <!-- 车主证件号 -->
            </if>
            <if test="m.ownerStatus != null">
                AND owner_status = #{m.ownerStatus}  <!-- 车主状态 -->
            </if>
        </where>
        ORDER BY id ASC
    </sql>

    <!--增改查范本-->
    <!--
    <select id="select" resultType="VehicleOwnerInfo">
        SELECT  <include refid="Base_Column_List" />
        FROM t_vehicle_owner_info
        <include refid="Find_List_Where" />
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="VehicleOwnerInfo">
        INSERT INTO t_vehicle_owner_info ()
        VALUES()
    </insert>
    <update id="update" parameterType="VehicleOwnerInfo">
          UPDATE t_vehicle_owner_info
          <set>
        </set>
        WHERE id = #{id}
     </update>
    -->

</mapper>
