<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiduyang.web.dao.management.VehicleCheckInOutFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feiduyang.web.entity.management.VehicleCheckInOutFlow">
        <result column="id" property="id"/> <!--  -->
        <result column="creator_id" property="creatorId"/> <!--  -->
        <result column="last_modifier_id" property="lastModifierId"/> <!--  -->
        <result column="create_time" property="createTime"/> <!--  -->
        <result column="update_time" property="updateTime"/> <!--  -->
        <result column="vehicle_id" property="vehicleId"/> <!-- 车辆id -->
        <result column="point_id" property="pointId"/> <!-- 进入场地id -->
        <result column="check_type" property="checkType"/> <!-- 进场还是出场（0 进场，1 出场） -->
        <result column="check_in_time" property="checkInTime"/> <!-- 进场时间 -->
        <result column="check_out_time" property="checkOutTime"/> <!-- 出场时间 -->
        <result column="check_use_product_id" property="checkUseProductId"/> <!-- 该车辆该次所使用的产品id（0 默认为不使用，即为临时停车） -->
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        vehicle_id, point_id, check_type, check_in_time, check_out_time, check_use_product_id
    </sql>
    <!-- 通用查询条件 -->
    <sql id="Find_List_Where">
        <where>
            <if test="m.id != null">
                AND id = #{m.id}  <!--  -->
            </if>
            <if test="m.creatorId != null">
                AND creator_id = #{m.creatorId}  <!--  -->
            </if>
            <if test="m.lastModifierId != null">
                AND last_modifier_id = #{m.lastModifierId}  <!--  -->
            </if>
            <if test="m.createTime != null">
                AND create_time = #{m.createTime}  <!--  -->
            </if>
            <if test="m.updateTime != null">
                AND update_time = #{m.updateTime}  <!--  -->
            </if>
            <if test="m.vehicleId != null">
                AND vehicle_id = #{m.vehicleId}  <!-- 车辆id -->
            </if>
            <if test="m.pointId != null">
                AND point_id = #{m.pointId}  <!-- 进入场地id -->
            </if>
            <if test="m.checkType != null">
                AND check_type = #{m.checkType}  <!-- 进场还是出场（0 进场，1 出场） -->
            </if>
            <if test="m.checkInTime != null">
                AND check_in_time = #{m.checkInTime}  <!-- 进场时间 -->
            </if>
            <if test="m.checkOutTime != null">
                AND check_out_time = #{m.checkOutTime}  <!-- 出场时间 -->
            </if>
            <if test="m.checkUseProductId != null">
                AND check_use_product_id = #{m.checkUseProductId}  <!-- 该车辆该次所使用的产品id（0 默认为不使用，即为临时停车） -->
            </if>
        </where>
        ORDER BY id ASC
    </sql>

    <!--增改查范本-->
    <!--
    <select id="select" resultType="VehicleCheckInOutFlow">
        SELECT  <include refid="Base_Column_List" />
        FROM t_vehicle_check_in_out_flow
        <include refid="Find_List_Where" />
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="VehicleCheckInOutFlow">
        INSERT INTO t_vehicle_check_in_out_flow ()
        VALUES()
    </insert>
    <update id="update" parameterType="VehicleCheckInOutFlow">
          UPDATE t_vehicle_check_in_out_flow
          <set>
        </set>
        WHERE id = #{id}
     </update>
    -->

</mapper>
